.init-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

.init-field > *{
    margin: 15px 0px;
}

.init-field > .buttons{
    display: flex;
    justify-content: space-around;
}