.login {
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}


.login > .inputs{
    display: flex;
    flex-direction: column;
}

.login > div{
    margin: 10px 0;
}

.login > .inputs > input{
    margin: 10px 0;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 2px gray solid;
    padding: 5px 20px;
    font-size: 26px;
}

.login .buttons{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

