.field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
    background: rgb(199, 199, 199);
    border-radius: 5px;
}

td,
th {
  user-select: none;
  width: 50px;
  height: 50px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-self: center;
}

tr {
  display: flex;
  justify-content: center;
}

.header-left {
  width: 5px;
}


.header-top,
.header-left{
    width: 50px;
    font-size: 30px;
    line-height: 50px;
}

.header-top{
    font-weight: normal;
}