.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgb(204, 204, 204);
  padding: 5px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 2px gray;
}

.room-item > .id {
  flex: 0 0 200px;
  text-align: center;
}

.room-item > .name {
  flex: 1 1;
  text-align: center;
}

.room-item > .count {
  flex: 0 1 200px;
  text-align: center;
}

.room-item > .join {
  display: flex;
  flex: 0 0 200px;
  background: rgb(226, 226, 226);
  border-radius: 5px;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  border: solid #999999 2px;

  transition: all 0.5s ease;
  background: #d3d3d3;
}

.room-item > .join:hover {
  background: #bebebe;
  transition: all 0.5s ease;
  border: solid white 2px;
}
