.panel {
    flex: 0 0 100%;
}

.panel > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.panel > .container > .ship:empty {
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #0000ca;
}

.panel > .container > .ship:hover {
  transition: all 0.3s ease;
}

#s1 {
  width: 50px;
}

#s2 {
  width: 100px;
}

#s3 {
  width: 150px;
}

#s4 {
  width: 200px;
}


.ship:empty.active {
    background: rgb(0, 32, 121) !important;
    transition: all ease 1s;
}
