.panel {
    width: 100%;
}

.panel > .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel > .container > .ship:empty {
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #00008B;
}

.panel > .container > .ship:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.ship.s1 {
  width: 50px;
}

.ship.s2 {
  width: 100px;
}

.ship.s3 {
  width: 150px;
}

.ship.s4 {
  width: 200px;
}
